@{
    ViewBag.Title = "principal";
}

<h2>principal</h2>
<div class="container">

		

    


    	<div class="contenti">
         <div class= "nine columns">
          <div class="sidebar">
           
             <li>
                <div>
                  <div class="three columns">
                      <img src="/images/servicios/528599.jpg"/>
                  </div>

                  <div class="five columns">
                    <p>elegancia, funcionalidad</p>
                    <p> apto para cualquier</p>
                    <p> evento</p>
                  </div>
                </div>
             </li>

             <li>
                <div>
                  <div class="three columns">
                      <img src="/images/servicios/528599.jpg"/>
                  </div>

                  <div class="five columns">
                    <p>elegancia, funcionalidad</p>
                    <p> apto para cualquier</p>
                    <p> evento</p>
                  </div>
                </div>
                	
		    </li>

            <li>
                <div>
                  <div class="three columns">
                      <img src="/images/servicios/528599.jpg"/>
                  </div>

                  <div class="five columns">
                    <p>elegancia, funcionalidad apto para cualquierss evento</p>
                  </div>
                </div>			
            </li>
            <li>
                <div>
                  <div class="three columns">
                      <img src="/images/servicios/528599.jpg"/>
                  </div>

                  <div class="five columns">
                    <p>elegancia, funcionalidad</p>
                    <p> apto para cualquier</p>
                    <p> evento</p>
                  </div>
                </div>	
			</li>
                 
            </div>
         </div><!--nine columns-->

			<div class="fifteen columns">
				<div class="bannercontainer">

                   <li>
                       <div >
                            <img src="/images/fotos/Animacion Gif.gif"/>
                       </div>	
                        <p>Elegancia, funcionalidad y tecnología se unen para lograr una atención personalizada, pensada especialmente para hacer de su estadía una grata experiencia.Miembros de Preferred Hotel Group, líder en la industria hotelera con reconocimiento y presencia mundial. Estamos orgullosos de contar con el mejor personal y servicio en el medio.

                                ■110 habitaciones.
                                ■Centro de Convenciones con 5 diferentes salones.
                                ■2 Restaurantes de renombre (Eurocafé Bistro y Le Gourmet).
                                ■2 bares (Punto de Encuentro, Le Balcon Sushi Piano Bar).
                                ■Spa Finn Club (piscina, sauna, jacuzzi, gimnasio y masajes).
                         </p>
				    </li>

                   <!-- <li>
                        <div>
                            <img src="/images/2.jpg"/>
                        </div>	
				    </li>
                   <li>
                        <div>
                            <img src="/images/33.jpg"/>
                        </div>	
				    </li>
                    <li>
                        <div>
                            <img src="/images/4.jpg"/>
                        </div>	
				    </li> -->
                </div>
			</div>	
		

			</div>

		
	</div><!-- container -->


<!-- End Document
================================================== -->




	<!-- Primary Page Layout
	================================================== -->

